# This task enables Percona Server for MongoDB 70 (psmdb70) and  MongoDB 80 (psmdb80) main repository, installs and starts modgodb.

# Enable psmdb repo and install psmdb
  - name: include tasks for enabling psmdb 70 repo
    include_tasks: ../tasks/enable_psmdb_repo.yml
    vars:
      psmdb_repo: "psmdb-70 release"
    when: lookup('env', 'install_with') == "psmdb70"

  - name: include tasks for enabling psmdb 80 repo
    include_tasks: ../tasks/enable_psmdb_repo.yml
    vars:
      psmdb_repo: "psmdb-80 release"
    when: lookup('env', 'install_with') == "psmdb80"

  - name: include tasks for installing psmdb packages
    vars:
      packages: percona-server-mongodb
    include_tasks: 
      file: ../tasks/install_psmdb.yml
      apply:
        environment:
          PERCONA_TELEMETRY_URL: "https://check-dev.percona.com/v1/telemetry/GenericReport"

# Start psmdb service
  - name: start mongod service
    service: 
      name: mongod
      state: started
