# tasks file for tarball tests
  - name: Display OS Name
    debug:
      msg: "OS: {{ ansible_distribution }} {{ ansible_distribution_version }}"

  - name: Add epel-release
    package:
      state: present
      name: epel-release
    when: ansible_os_family == "RedHat" and ansible_distribution_version != "2023"

  - name: Remove any line containing 'backports' in sources.list for Debian 11
    lineinfile:
      path: /etc/apt/sources.list
      regexp: '.*backports.*'
      state: absent
    when: ansible_os_family == "Debian" and ansible_distribution_release == "bullseye"

  - name: Remove backports repository files in sources.list.d for Debian 11
    shell: |
      find /etc/apt/sources.list.d/ -type f -name "*backports*" -delete || true
      find /etc/apt/sources.list.d/ -type f -exec sed -i '/backports/d' {} \; || true
    when: ansible_os_family == "Debian" and ansible_distribution_release == "bullseye"

  - name: install needed packages for running tests with apt
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - git
      - unzip
      - wget
      - python3
      - python3-pip
      - libnuma1
      - tar
      - gawk
    register: result
    until: result is not failed
    when: ansible_os_family == "Debian"

  - name: install libaio1 package for running tests with apt except for Ubuntu 24.04 and Debian 13
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - libaio1 
    register: result
    until: result is not failed
    when: >
      ansible_os_family == "Debian" 
      and ansible_distribution_version != "24.04"
      and not (ansible_distribution == "Debian" and ansible_distribution_major_version|int == 13)

  - name: install needed packages for running tests with yum
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - git
      - unzip
      - wget
      - tar
      - libaio
      - numactl
      - gawk
      - python3
      - python3-pip
      - libtirpc
      - lsb_release
    when: 
    - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
    - ansible_facts['distribution_major_version'] | int <= 7

  - name: Install required packages using dnf
    dnf:
      name:
        - git
        - unzip
        - wget
        - tar
        - libaio
        - numactl
        - gawk
        - python3
        - python3-pip
        - libtirpc
      state: present
    when:
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8

#      - openldap // this package causes issue on OL-9

#  - name: get GLIBC_VERSION
#    set_fact:
#      GLIBC_VERSION: "{{ '2.35' if ansible_os_family == 'Debian' else '2.34' }}"

  - name: get GLIBC_VERSION
    set_fact:
      GLIBC_VERSION: >-
        {% if ansible_distribution == 'RedHat' and ansible_distribution_major_version == '10' %}
          2.39
        {% elif ansible_os_family == 'Debian' %}
          2.35
        {% else %}
          2.34
        {% endif %}

  - name: sanitize GLIBC_VERSION
    set_fact:
      GLIBC_VERSION: "{{ GLIBC_VERSION | trim }}"

  - name: get TARBALL_NAME
    set_fact:
      TARBALL_NAME: "Percona-Server-{{ lookup('env', 'PS_VERSION') }}-Linux.x86_64.glibc{{ GLIBC_VERSION }}.tar.gz"


  # # - name: get main repo TARBALL_LINK
  # #   set_fact:
  # #     TARBALL_LINK: "https://repo.percona.com/private/{{ lookup('env', 'USERNAME') }}-{{ lookup('env', 'PASSWORD') }}/ps-80-pro/tarballs/Percona-Server-{{ lookup('env', 'PS_VERSION') }}/"

  - name: get testing repo TARBALL_LINK
    set_fact:
      TARBALL_LINK: "https://downloads.percona.com/downloads/TESTING/ps-{{ lookup('env', 'PS_VERSION') }}/{{ TARBALL_NAME }}"

  - name: Set unified test paths
    set_fact:
      tarball_test_root: "/package-testing/molecule/ps80-binary-tarball"
      base_dir: "/package-testing/molecule/ps80-binary-tarball/percona-server"

  - name: Ensure package-testing root exists
    file:
      path: /package-testing
      state: directory
      mode: "0755"

  - name: Ensure tarball test root exists
    file:
      path: "{{ tarball_test_root }}"
      state: directory
      mode: "0755"


  - name: download package-testing repo branch with wget to /package-testing
    command: "{{ item }}"
    with_items:
    - rm -rf /package-testing
    - rm -f /tmp/package-testing.zip
    - wget --no-check-certificate -O /tmp/package-testing.zip "https://github.com/{{ git_account }}/package-testing/archive/{{ branch }}.zip"
    - unzip /tmp/package-testing.zip -d /tmp
    - rm -f /tmp/package-testing.zip
    - mv "/tmp/package-testing-{{ branch }}" /package-testing
    vars:
      branch: "{{ lookup('env', 'TESTING_BRANCH') | default('tarball-fips', true) }}"
      git_account: "{{ lookup('env', 'TESTING_GIT_ACCOUNT') | default('Percona-QA', true) }}"
    args:
      chdir: /

  - name: Download regular {{ TARBALL_NAME }}
    get_url:
      url: '{{ TARBALL_LINK }}'
      dest: "{{ tarball_test_root }}/{{ TARBALL_NAME }}"
      mode: '0644'

  - name: Unpack regular tarball into unified base_dir
    unarchive:
      src: "{{ tarball_test_root }}/{{ TARBALL_NAME }}"
      dest: "{{ tarball_test_root }}"
      remote_src: yes
      extra_opts:
      - --transform
      - 's,^[^/]*/,percona-server/,'
      creates: "{{ base_dir }}/bin/mysqld"


  - name: DEBUG — Find package-testing folder
    shell: find / -maxdepth 3 -type d -name "package-testing" 2>/dev/null
    register: pkg_debug

  - debug:
      var: pkg_debug.stdout_lines

  - name: DEBUG — Find run.sh
    shell: find / -maxdepth 5 -name "run.sh" 2>/dev/null
    register: runsh_debug

  - debug:  
      var: runsh_debug.stdout_lines


  - name: DEBUG — Find tar.gz files
    shell: find / -maxdepth 4 -name "*.tar.gz" 2>/dev/null
    register: tar_debug

  - debug:
      var: tar_debug.stdout_lines

  - name: Default FIPS_SUPPORTED fact to "no"
    set_fact:
      FIPS_SUPPORTED: "no"

  - name: Set FIPS_SUPPORTED fact for Debian 12 (Bookworm)
    set_fact:
      FIPS_SUPPORTED: "yes"
    when: ansible_distribution == "Debian" and ansible_distribution_release == "bookworm"

  - name: Set FIPS_SUPPORTED fact for Ubuntu 22.04 (Jammy)
    set_fact:
      FIPS_SUPPORTED: "no"
    when: ansible_distribution == "Ubuntu" and ansible_distribution_release == "jammy"

  - name: Set FIPS_SUPPORTED fact for Oracle linux
    set_fact:
      FIPS_SUPPORTED: "yes"
    when: ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "9"

  - name: Append values to /etc/environment file
    lineinfile:
      path: /etc/environment
      line: "{{ item }}"
      state: present
    with_items:
      - "PS_REVISION={{ lookup('env', 'PS_REVISION') }}"
      - "PS_VERSION={{ lookup('env', 'PS_VERSION') }}"
      - "PRO={{ lookup('env', 'PRO') }}"
      - "BASE_DIR={{ base_dir }}"

  - name: Run tests
    command: ./run.sh
    args: