---
# tasks file for tarball tests

  - name: Display OS Name
    debug:
      msg: "OS: {{ ansible_distribution }} {{ ansible_distribution_version }}"

  - name: Add epel-release
    package:
      state: present
      name: epel-release
    when: ansible_os_family == "RedHat" and ansible_distribution_version != "2023"

  - name: install needed packages for running tests with apt
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - git
      - unzip
      - wget
      - python3
      - python3-pip
      - libnuma1
      - tar
      - gawk
    register: result
    until: result is not failed
    when: ansible_os_family == "Debian"
  
  - name: install libaio1 package for running tests with apt except for Ubuntu 24.04
    apt:
      name: "{{ packages }}"
      update_cache: yes
      state: latest
    vars:
      packages:
      - libaio1 
    register: result
    until: result is not failed
    when: ansible_os_family == "Debian" and ansible_distribution_version != "24.04"

  - name: install needed packages for running tests with yum
    yum:
      name: "{{ packages }}"
      state: latest
    vars:
      packages:
      - git
      - unzip
      - wget
      - tar
      - libaio
      - numactl
      - gawk
      - python3
      - python3-pip
      - libtirpc
      - lsb_release
    when: 
    - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
    - ansible_facts['distribution_major_version'] | int <= 7

  - name: Install required packages using dnf
    dnf:
      name:
        - git
        - unzip
        - wget
        - tar
        - libaio
        - numactl
        - gawk
        - python3
        - python3-pip
        - libtirpc
      state: present
    when:
      - ansible_facts['distribution'] in ["RedHat", "CentOS", "OracleLinux", "Amazon"]
      - ansible_facts['distribution_major_version'] | int >= 8


  - name: get GLIBC_VERSION
    set_fact:
      GLIBC_VERSION: >-
        {% if ansible_distribution == 'RedHat' and ansible_distribution_major_version == '10' %}
          2.39
        {% elif ansible_os_family == 'Debian' %}
          2.35
        {% else %}
          2.34
        {% endif %}

  - name: sanitize GLIBC_VERSION
    set_fact:
      GLIBC_VERSION: "{{ GLIBC_VERSION | trim }}"

  - name: SET PS_VERSION VAR
    set_fact:
      PS_VERSION: "{{ lookup('env', 'PS_VERSION') }}"
      PS_REVISION: "{{ lookup('env', 'PS_REVISION') }}"
      PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.PATH }}"
      BUILD_TYPE_MINIMAL: "{{ lookup('env', 'BUILD_TYPE_MINIMAL') }}"


  - name: CHECK OS
    debug:
      msg: "OS is {{ ansible_distribution }} {{ ansible_distribution_version }}"

  - name: CHECK VARIABLES
    debug:
      msg: "PS_VERSION is {{ PS_VERSION }} PS_REVISION is {{ PS_REVISION }} PATH is {{ PATH }} "

  - name: Set REGULAR as TARBALL_NAME
    set_fact:
      TARBALL_NAME: "Percona-Server-{{ lookup('env', 'PS_VERSION') }}-Linux.x86_64.glibc{{ GLIBC_VERSION }}.tar.gz"
    when: BUILD_TYPE_MINIMAL != True

  - name: Set MINIMAL as TARBALL_NAME
    set_fact:
      TARBALL_NAME: "Percona-Server-{{ lookup('env', 'PS_VERSION') }}_Linux.x86_64.glibc{{ GLIBC_VERSION }}-minimal.tar.gz"
    when: BUILD_TYPE_MINIMAL == True

  - name: download package-testing repo branch with wget
    command: "{{ item }}"
    with_items:
    - rm -rf package-testing
    - rm -f master.zip
    - wget --no-check-certificate -O master.zip "https://github.com/{{ git_account }}/package-testing/archive/{{ branch }}.zip"
    - unzip master.zip
    - rm -f master.zip
    - mv "package-testing-{{ branch }}" package-testing
    vars:
      branch: "{{ lookup('env', 'TESTING_BRANCH') | default('tarball-fips', true) }}"
      git_account: "{{ lookup('env', 'TESTING_GIT_ACCOUNT') | default('grishma123-eng', true) }}"

  - name: Move package-testing repo to /package-testing
    shell: |
      # Find package-testing directory (could be in home or current dir)
      if [ -d "{{ ansible_env.HOME }}/package-testing" ]; then
        REPO_DIR="{{ ansible_env.HOME }}/package-testing"
      elif [ -d "./package-testing" ]; then
        REPO_DIR="./package-testing"
      else
        echo "Error: package-testing directory not found"
        exit 1
      fi
      sudo rm -rf /package-testing
      sudo mv "$REPO_DIR" /package-testing
      sudo chown -R $USER:$USER /package-testing

  - name: Create directory for tarball download
    file:
      path: /package-testing/molecule/ps80-binary-tarball
      state: directory
      mode: '0755'

  - name: Download {{ TARBALL_NAME }}
    get_url:
      url: https://downloads.percona.com/downloads/TESTING/ps-{{ lookup('env', 'PS_VERSION') }}/{{ TARBALL_NAME }}
      dest: /package-testing/molecule/ps80-binary-tarball/{{ TARBALL_NAME }}
      mode: '0644'

  - name: Install required packages on RedHat/CentOS
    when: ansible_facts['os_family'] == "RedHat"
    yum:
      name:
        - libaio
        - numactl
        - openssl
        - socat
        - lsof
        - perl-Data-Dumper
        - libev
        - python3
        - python3-pip
      state: present

  - name: Install pytest and pytest-testinfra using pip3
    command: pip3 install pytest pytest-testinfra

  - name: Ensure PS_VERSION is set
    fail:
      msg: "PS_VERSION environment variable needs to be set!"
    when: PS_VERSION is not defined

  - name: Ensure PS_REVISION is set
    fail:
      msg: "PS_REVISION environment variable needs to be set!"
    when: PS_REVISION is not defined

  - name: Ensure binary-tarball-tests/ps directory exists
    file:
      path: /package-testing/binary-tarball-tests/ps
      state: directory
      mode: '0755'

  - name: Copy tarball to binary-tarball-tests directory
    command: cp /package-testing/molecule/ps80-binary-tarball/{{ TARBALL_NAME }} /package-testing/binary-tarball-tests/ps/{{ TARBALL_NAME }}

  - name: Run tests
    command: ./run.sh
    environment:
      PS_VERSION: "{{ PS_VERSION }}"
      PS_REVISION: "{{ PS_REVISION }}"
    args:
      chdir: "/package-testing/binary-tarball-tests/ps/"

  - name: Copy logs of the output of the yum list --installed to /log/yum-list-output.log
    shell: cat /etc/os-release > /var/log/yum-list-output.log && yum list --installed >> /var/log/yum-list-output.log

  - name: Set the primary IPv4 address
    set_fact:
      ipv4_address: "{{ ansible_facts.all_ipv4_addresses[0] }}"

  - name: Set the primary IPv4 address path
    set_fact:
      ipv4_address_path: "/tmp/{{ ipv4_address }}.tar.gz"

  - name: Create a tar.gz archive of the logs using command
    command: tar -czf {{ ipv4_address_path }} /var/log/yum-list-output.log
    register: archive_command_result

  - name: Debug the tar command result
    debug:
      var: archive_command_result

  - name: Fetch the tar.gz file from the remote host
    ansible.builtin.fetch:
      src: "{{ ipv4_address_path }}"
      dest: "{{ lookup('env', 'WORKSPACE') }}/{{ ipv4_address }}.tar.gz"
      flat: yes

  - name: Default FIPS_SUPPORTED fact to "no"
    set_fact:
      FIPS_SUPPORTED: "no"

  - name: Set FIPS_SUPPORTED fact for Debian 12 (Bookworm)
    set_fact:
      FIPS_SUPPORTED: "yes"
    when: ansible_distribution == "Debian" and ansible_distribution_release == "bookworm"

  - name: Set FIPS_SUPPORTED fact for Ubuntu 22.04 (Jammy)
    set_fact:
      FIPS_SUPPORTED: "no"
    when: ansible_distribution == "Ubuntu" and ansible_distribution_release == "jammy"

  - name: Set FIPS_SUPPORTED fact for Oracle-9
    set_fact:
      FIPS_SUPPORTED: "yes"
    when: ansible_distribution == "OracleLinux" and ansible_distribution_major_version == "9"

  - name: Append values to /etc/environment file
    lineinfile:
      path: /etc/environment
      line: "{{ item }}"
      state: present
    with_items:
      - "PS_REVISION={{ lookup('env', 'PS_REVISION') }}"
      - "PS_VERSION={{ lookup('env', 'PS_VERSION') }}"
      - "PRO={{ lookup('env', 'PRO') }}"
      - "FIPS_SUPPORTED={{ FIPS_SUPPORTED }}"